<section>
	<div class="container">
	  <div class="row mt-5">
		<div class="col-lg-4 bg-white m-auto pb-3 rounded-top form-wrapper">
		  <h2 class="text-center pt-3">Увійдіть зараз</h2>
		  <form name="loginForm">
			<div class="mb-3">
			  <label for="input-email" class="form-label">Email</label>
			  <input
				class="form-control"
				type="email"
				name="email"
				id="input-email"
				required
			  />
			</div>
			<div class="mb-3">
			  <label for="input-password" class="form-label">Пароль</label>
			  <input
				class="form-control"
				type="password"
				name="password"
				id="input-password"
				required
			  />
			</div>
			<button type="submit" class="btn btn-primary w-100 mb-3">
			  Увійти
			</button>
			<p class="text-center">
			  Не маєте аккаунта ?
			  <a href="./registration.html">Створіть свій</a>
			</p>
		  </form>
		</div>
	  </div>
	</div>
  </section>